<div local-class="{{header}}">
  {{#if (eq header "header")}}
    <div local-class="header-content">
      <div local-class="placeholder">
        <img local-class="heading-img-8" src="images/stars.png">
        <img local-class="heading-img-7" src="images/stars.png">
        <img local-class="heading-img-6" src="images/stars.png">
        <img local-class="heading-img-5" src="images/stars.png">
        <img local-class="heading-img-4" src="images/stars.png">
        <img local-class="heading-img-3" src="images/stars.png">
        <img local-class="heading-img-2" src="images/stars.png">
        <img local-class="heading-img-1" src="images/stars.png">
        <img local-class="heading-img-0" src="images/stars.png">
      </div>
      <div local-class="title-container">
        <img local-class="name-img" src="images/olya-name.png">
        <h2 local-class="sub-heading">
          English Language Teacher and Translator
        </h2>
      </div>
      <div local-class="image-container">
        <img local-class="heading-img-0" src="images/stars.png">
        <img local-class="heading-img-1" src="images/stars.png">
        <img local-class="heading-img-2" src="images/stars.png">
        <img local-class="heading-img-3" src="images/stars.png">
        <img local-class="heading-img-4" src="images/stars.png">
        <img local-class="heading-img-5" src="images/stars.png">
        <img local-class="heading-img-6" src="images/stars.png">
        <img local-class="heading-img-7" src="images/stars.png">
        <img local-class="heading-img-8" src="images/stars.png">
      </div>
    </div>
  {{/if}}
  <div local-class="nav-bar">
    {{nav-item
      link="home"
      name="Home"}}
    {{nav-item
      link="teaching"
      name="Teaching"}}
    {{nav-item
      link="translation"
      name="Translation"}}
    {{nav-item
      link="contact"
      name="Contact"}}
  </div>
</div>
