<div local-class="{{header}}">
  {{#if (eq header "header")}}
    <div local-class="header-content">
      <img local-class="heading-img" src="images/olya-name.png">
      <h2 local-class="sub-heading">
        English Language Teacher and Translator
      </h2>
    </div>
  {{/if}}
  <div local-class="nav-bar">
    {{nav-item
      link="home"
      name="Home"}}
    {{nav-item
      link="teaching"
      name="Teaching"}}
    {{nav-item
      link="translation"
      name="Translation"}}
    {{nav-item
      link="contact"
      name="Contact"}}
  </div>
</div>
