{{page-header
  header=this.header}}
<div local-class="body">
  <div local-class="content">
    <div local-class="container">
      <img local-class="underlay" src="images/books2.jpeg">
      <p local-class="text">
        {{t "intro1"}}
        <a local-class="link" href="https://lunn.ru/en">{{t "university"}}</a>.
        {{t "intro2"}}
      </p>
    </div>
    <img local-class="img" src="images/olya-pic.jpg">
  </div>
</div>
{{page-footer
  buttonSelected=(action "changeLanguage" target=this.application)}}
